{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

<div class="container">

    {% for message in app.flashes('success') %}
        <div style="margin-bottom:0;text-align:center;" class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

        <p>Ajouter un champ pour définir la date de création (created_at) et la date de modification (updated_at) d’une salle.
                Faire en sorte que la date de création soit générée automatiquement au momement de la création de la salle, et que la date de modification soit généré au moment de la modification d’une salle.</p>

                <p>Mettre en place le système de CRUD des catégories ( Ajouter, afficher, éditer et supprimer).</p>
                <p>Créer une relation entre les salles, et les catégories.
                Chaque salle peut avoir plusieurs catégories, et chaque catégorie peut être liée à plusieurs salles.</p>


                <p>C’est un travail individuel !</p>


                <p>PHP BIN/CONSOLE pour avoir l’intégralité des commandes symfony</p>

</div>

{% endblock %}
